ScooterGitTemplate.code-workspace
.obsidian/*
temp/*
bin/*
src/.vs/*
src/Debug/*
src/x64/*
*.dead
src/skvfximageres/.vs/*
src/skvfximageres/x64/*
src/skvfximageres/skvfximageres.sln
src/UE_QuickLaunch_installer/obj/*
src/UE_QuickLaunch/UE_QuickLaunch.vcxproj.user
src/skvfximageres/Release/*
src/UE_QuickLaunch/Debug/*
src/UE_QuickLaunch/Release/*
src/UE_QuickLaunch/x64/*
src/UE_QuickLaunch_installer/bin/*
src/UE_QuickLaunch_installer/obj/*
src/UpgradeLog.htm

