<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Core Components -->
    <ComponentGroup Id="DefaultComponents" Directory="INSTALLFOLDER">

      <!-- File Components -->
      <Component Id="ResourceDLL" Guid="50be778e-5086-424a-bf5d-9f1bf2a6c928">
        <File Source="skvfximageres.dll" />
      </Component>

      <Component Id="QuickLaunchBatFile" Guid="920b1a75-8140-4b5f-b94c-2976bdd97df7">
        <File Source="ue-quicklaunch.bat" />
      </Component>

      <!-- Registry Components -->
      <Component Id="RegistryComponent_clickInFolder" Guid="AB8C4904-52D3-4444-A80D-EDC9968D3EF4">
            <RegistryKey Root="HKCR" Key="Directory\Background\shell\UE_QuickLaunch">
              <RegistryValue Type="string" Value="&amp;QuickLaunch Unreal Engine here" /> 
              <RegistryValue Type="string" Name="Icon" Value="[INSTALLFOLDER]skvfximageres.dll,0" />
            </RegistryKey>
      </Component>

      <Component Id="RegistryComponent_clickInFolderCommand" Guid="30204b8d-5a9b-4642-9109-9b675518560f">
            <RegistryKey Root="HKCR" Key="Directory\Background\shell\UE_QuickLaunch\command">
              <RegistryValue Type="string" Value="[INSTALLFOLDER]ue-quicklaunch.bat &quot;%V&quot; IN_FOLDER" />
            </RegistryKey>
      </Component>
      
      <Component Id="RegistryComponent_clickOnFolder" Guid="84db9fb1-97b8-4640-89ab-a0352f709362">
            <RegistryKey Root="HKCR" Key="Directory\shell\UE_QuickLaunch">
              <RegistryValue Type="string" Value="&amp;QuickLaunch Unreal Engine here" /> 
              <RegistryValue Type="string" Name="Icon" Value="[INSTALLFOLDER]skvfximageres.dll,0" />
            </RegistryKey>
      </Component>

      <Component Id="RegistryComponent_clickOnFolderCommand" Guid="5afe7d7a-0f6d-449f-9af4-2fa852467d1e">
            <RegistryKey Root="HKCR" Key="Directory\shell\UE_QuickLaunch\command">
              <RegistryValue Type="string" Value="[INSTALLFOLDER]ue-quicklaunch.bat &quot;%V&quot; ON_FOLDER" />
            </RegistryKey>
      </Component>

      <!-- Docs Shortcut Component -->
      <Component Id="WebsiteShortcutComponent" Guid="acf081aa-d0bb-4692-a4c4-1c0a49a32c3c">
        <Shortcut Directory="INSTALLFOLDER" Id="WebShortcut" Name="QuickLaunch Documentation" Description="QuickLaunch Documentation: https://github.com/ScottKirvan/UE_QuickLaunch" Target="[URL]" Icon="IconDesktop">
          <Icon Id="IconDesktop" SourceFile="skvfximageres.dll" />
        </Shortcut>      
        <RegistryValue Root="HKMU" 
          Key="Software\SKVFX\UE_QuickLaunch" 
          Name="installed" 
          Type="integer" 
          Value="1" 
          KeyPath="yes"/>
        </Component>

    </ComponentGroup>

    <!-- Template files -->
    <ComponentGroup Id="TemplateComponents" Directory="INSTALLFOLDER">
      <Component Id="TemplateUproject" Guid="4638e36d-e6ed-420f-bc31-55bcf6f5d048" Directory="UEQLTemplateFolder" >
        <File Source="eu_quicklaunch_template\eu_quicklaunch_template.uproject" />
      </Component>

      <Component Id="TemplateConfig" Guid="0b518f08-3dd6-478b-b876-0eff1be128f9" Directory="UEQLConfigFolder" >
        <File Source="eu_quicklaunch_template\Config\DefaultEngine.ini" />
      </Component>

      <Component Id="TemplateReadMe" Guid="ed066087-1eca-43ce-bc02-b917ce502cbe" Directory="UEQLConfigFolder" >
        <File Source="eu_quicklaunch_template\Config\README.md" />
      </Component>
    </ComponentGroup>

    <!-- Classic RC Menu -->
    <ComponentGroup Id="ClassicRCComponents" Directory="INSTALLFOLDER">
      <Component Id="RegistryComponent_ClassicRCMenu" Guid="ff584590-8c0a-4083-a239-a4e2d8093f8d">
            <RegistryKey Root="HKCU" Key="Software\Classes\CLSID\{86ca1aa0-34aa-4e8b-a509-50c905bae2a2}\InprocServer32">
              <RegistryValue Type="string" Value="" />
            </RegistryKey>
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
