<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="skvfximageres.dll" />
      </Component>
      <Component>
        <File Source="ue-quicklaunch.bat" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
