<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" >
        <!-- Example Template folder -->
        <Directory Id="UEQLBaseFolder" Name="UE_QuickLaunch" >
          <Directory Id="UEQLTemplateFolder" Name="ue_quicklaunch_template" >
            <Directory Id="UEQLConfigFolder" Name="Config" >
            </Directory>
            <Directory Id="UEQLContentFolder" Name="Content" >
            </Directory>
          </Directory>
        </Directory>

      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
